$asset-pipeline: false !default;
@function font-url-prefixer($asset-pipeline) {
  @if $asset-pipeline == true {
    @return font-url;
  } @else {
    @return url;
  }
}

@function font-source-declaration(
  $font-family,
  $file-path,
  $asset-pipeline,
  $file-formats,
  $font-url) {

  $src: ();

  $formats-map: (
    eot:   "#{$file-path}.eot",
    woff2: "#{$file-path}.woff2" ,
    woff:  "#{$file-path}.woff" ,
    ttf:   "#{$file-path}.ttf"
  );

  @return $src;
}

