// Weights
$hairline-weight: 100;
$thin-weight:     200;
$light-weight:    300;
$normal-weight:   400;
$medium-weight:   500;
$semibold-weight: 600;
$bold-weight:     700;
$xbold-weight:    800;
$black-weight:    900;

// Synonyms
$regular-weight:    $normal-weight;
$book-weight:       $light-weight;
$xlight-weight:     $hairline-weight;
$ultralight-weight: $hairline-weight;
$heavy-weight:      $xbold-weight;

@font-face {
  font-family: "Source Sans Pro";
  font-weight: $normal-weight;
  font-style: normal;
  src: url("../fonts/sourcesanspro-bold-webfont.eot");
  src: url("../fonts/sourcesanspro-bold-webfont.woff2");
  src: url("../fonts/sourcesanspro-bold-webfont.woff");
  src: url("../fonts/sourcesanspro-bold-webfont.ttf");
}

//@font-face(
//  'Source Sans Pro';
//  './';
//  300;
//  font-style: normal;
//  $file-formats: eot woff2 woff ttf;
//);
//
//@font-face(
//  'Source Sans Pro',
//  './',
//  300,
//  $file-formats: eot woff2 woff ttf
//);
//
//@font-face(
//  'Source Sans Pro',
//  400,
//  $file-formats: eot woff2 woff ttf
//);
//
//@font-face(
//  'Source Sans Pro',
//  400,
//  $file-formats: eot woff2 woff ttf
//);
//
//@font-face(
//  'Source Sans Pro',
//  700,
//  $file-formats: eot woff2 woff ttf
//);
//
//@font-face(
//  'Merriweather',
//  300,
//  $file-formats: eot woff2 woff ttf
//);
//
//@font-face(
//  'Merriweather',
//  400,
//  $file-formats: eot woff2 woff ttf
//);
//
//@font-face(
//  'Merriweather',
//  400,
//  $file-formats: eot woff2 woff ttf
//);
//
//@font-face(
//  'Merriweather',
//  700,
//  $file-formats: eot woff2 woff ttf
//);
